i:hover, .navbar-brand:hover, .dimit:hover {
  filter: brightness(0.5);
  transition: all 0.4s ease-in-out;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.hide {
  display: none;
}
.lightit:hover {
  filter: brightness(1.3);
  transition: all 0.4s ease-in-out;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.snb {
  -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
}
.shb {
  -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
}

a {
  text-decoration: none !important;
}

.btn {
  cursor: pointer;
}

.goog-te-banner-frame {
  display: none;
}

h1, h2, h4, a, td, a > *, .ar1 {
  font-family: 'Changa';
}

p, .ar2, th {
  font-family: 'Amiri';
  font-size: 130% !important;
}

i {
  font-style: normal;

}

@-webkit-keyframes beat {
  0%   { filter: brightness(1) }
  50% { filter: brightness(0.5) }
  100%   { filter: brightness(1) }
}
@-moz-keyframes beat {
  0%   { filter: brightness(1) }
  50% { filter: brightness(0.5) }
  100%   { filter: brightness(1) }
}
@-o-keyframes beat {
  0%   { filter: brightness(1) }
  50% { filter: brightness(0.5) }
  100%   { filter: brightness(1) }
}
@keyframes beat {
  0%   { filter: brightness(1) }
  50% { filter: brightness(0.5) }
  100%   { filter: brightness(1) }
}

.beatit {
  -webkit-animation: beat 2s infinite; 
  -moz-animation:    beat 2s infinite; 
  -o-animation:      beat 2s infinite; 
  animation:         beat 2s infinite;
}
