i:hover, .navbar-brand:hover, .dimit:hover {
  filter: brightness(0.5);
  transition: all 0.4s ease-in-out;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.hide {
  display: none;
}
.lightit:hover {
  filter: brightness(1.3);
  transition: all 0.4s ease-in-out;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.snb {
  -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
}
.shb {
  -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
}

a {
  text-decoration: none !important;
}

.btn {
  cursor: pointer;
}

.skiptranslate < .goog-te-banner-frame {
  displ
}