<div class="cover d-flex align-items-center pt-5 bg-inverse shb" id="cover">
 <div class="container">
   <div class="row">
     <div class="col-xs-12 text-center">
     </div> 
     <div class="col-md-6 text-md-left align-self-center my-5">
       <h1 class="text-white display-1">FQM</h1>
       <h4 class="text-white">Queue Management, made easy and simple for all</h4>
       <div class="row mt-5 text-center">
         <div class="col-md-2 col-3">
           <a href="https://www.youtube.com/channel/UC9_zci_JGr2hXBxziYbMMBw/videos" data-toggle="tooltip" title="Youtube account for tutorials and demonstrations" target="_blank">
             <span class="dimit center-block fa fa-4x fa-youtube text-white"> </span></a>
         </div>
         <div class="col-md-3 col-3">
           <a href="https://github.com/mrf345/fqm" data-toggle="tooltip" title="Github source code account" target="_blank">
             <span class="dimit center-block fa fa-4x fa-github text-white"> </span></a>
         </div>
         <div class="col-md-3 col-3">
           <a onclick="contactUsStore()"
             data-toggle="tooltip" title="Contact us for support and bugs reporting"
              style="cursor: pointer;"
           >
             <span class="dimit center-block fa fa-4x fa-envelope-o text-white"> </span></a>
         </div>
         <div class="col-md-3 col-3">
           <a data-toggle="tooltip" title="Share us"
             style="cursor: pointer;"
             onclick="$('.shareUs').toggleClass('hide'); $(this).toggleClass('beatit')"
           >
             <span class="dimit center-block fa fa-4x fa-heart text-white"> </span></a>
         </div>
       </div>
       <div class="row mt-3 text-center shareUs hide">
         <div class="col-md-2 col-3">
           <a href="https://www.facebook.com/sharer.php?u=https://fqms.github.io" data-toggle="tooltip" title="On Facebook" target="_blank">
             <span class="dimit center-block fa fa-4x fa-facebook-square text-white"> </span></a>
         </div>
         <div class="col-md-3 col-3">
           <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://fqms.github.io" data-toggle="tooltip" title="On LinkedIn" target="_blank">
             <span class="dimit center-block fa fa-4x fa-linkedin-square text-white"> </span></a>
         </div>
         <div class="col-md-3 col-3">
           <a href="https://twitter.com/share?url=https://fqms.github.io" target="_blank"
             data-toggle="tooltip" title="On Twitter"
           >
             <span class="dimit center-block fa fa-4x fa-twitter-square text-white"> </span></a>
         </div>
         <div class="col-md-3 col-3 hidden">
           <a href="https://plus.google.com/share?url=https://fqms.github.io" data-toggle="tooltip" title="On Google+" target="_blank">
             <span class="dimit center-block fa fa-4x fa-google-plus-square text-white"> </span></a>
         </div>
       </div>
     </div>
     <div class="col-md-6">
         <!--
         <a href="#" data-target="#demo" data-toggle="modal"
       -->
        <a href="javascript:wmsg();" data-toggle="tooltip" title="Watch video demonstration">
    
           <img class="img-fluid d-block mx-auto lightit snb imageLoader" id="ilogo" loader="images/logo.gif" alt="">
         </a>
     </div>
   </div>
 </div>
</div>