<div class="section py-5 text-center" id="app">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12 my-3 align-self-center">
        <h2 class="text-white bg-inverse my-3 text-center shb pt-2 pb-2">What is FQM</h2>
        <p class="lead"><i class='notranslate'>Free Queue Manager.</i> Web based management 
        system developed for the purpose of easing the process of organizing queues and lines. Like many other
        queue management systems, this system does provide a basic control panel that allow the users
        and customers alike to interact with it via a basic and simple user interface. Point that
        makes this system different from others, the fact it's free to use, modify and share.
        Which makes it a good alternative to the many expensive management systems.
        Moreover, The independent nature of this system,
        has influenced the development towards more independent IT solutions, that won't require you
        to be more dependant on specific operating system or hardware, instead finding new solutions that fits all.</p>
      </div>
      <div class="col-md-5 push-md-2 col-xs-12 my-3 align-self-center">
        <h2 class="text-white bg-inverse my-3 text-center shb version pt-2 pb-2">Version </h2>
        <p class="lead">
          This release brigs many newly implemented features that were in planing and in progress status for quite sometime, most notably
          is a new API module that allows us to integrate the system with external and third party software applications. As of this release
          the implemented API endpoints cover the core business logic of the system, so more endpoints needs to be implemented in future releases.
          Moreover, several other additional features and bug fixes were implemented and is bundled within this release to mention a few:
          Adding a better implementation of <small>Background Tasks</small> to handle running them on a specific time and schedule as well as adding a new
          background task for resting tickets. Another highly requested feature, is adding an additional <small>Display Screen</small> template to display
          and list the processed tickets alongside the waiting tickets.
        </p>
      </div>
    </div>
  </div>
</div>
