<div class="section py-5 text-center" id="app">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12 my-3 align-self-center">
        <h2 class="text-white bg-inverse my-3 text-center shb pt-2 pb-2">What is FQM</h2>
        <p class="lead"><i class='notranslate'>Free Queue Manager.</i> Web based management 
        system developed for the purpose of easing the process of organizing queues and lines. Like many other
        queue management systems, this system does provide a basic control panel that allow the users
        and customers alike to interact with it via a basic and simple user interface. Point that
        makes this system different from others, the fact it's free to use, modify and share.
        Which makes it a good alternative to the many expensive management systems.
        Moreover, The independent nature of this system,
        has influenced the development towards more independent IT solutions, that won't require you
        to be more dependant on specific operating system or hardware, instead finding new solutions that fits all.</p>
      </div>
      <div class="col-md-5 push-md-2 col-xs-12 my-3 align-self-center">
        <h2 class="text-white bg-inverse my-3 text-center shb version pt-2 pb-2">Version </h2>
        <p class="lead">
          In this beta release of the system, a lot of improvements made in 
          regard to the speed and responsiveness of the system. As well as multiple 
          newly added features. Nevertheless, the current state of the system is still 
          under-testing but with the recent improvements on the core functionalities and 
          code, the performance speed of the current release is almost double that of the 
          previous one. Lastly improvements and additions in regard to internationalization 
          been made. The current version supports five languages English, Arabic, French, Italian and Spanish 
          in printing and text-to-speech verbal announcements. More improvements in that regard are currently 
          in development, If you have any corrections or suggestions, contact support.
        </p>
      </div>
    </div>
  </div>
</div>
