<div class="section py-5 text-center" id="app">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12 my-3 align-self-center">
        <h2 class="text-white bg-inverse my-3 text-center shb pt-2 pb-2">What is FQM</h2>
        <p class="lead"><i class='notranslate'>Free Queue Manager.</i> Web based management 
        system developed for the purpose of easing the process of organizing queues and lines. Like many other
        queue management systems, this system does provide a basic control panel that allow the users
        and customers alike to interact with it via a basic and simple user interface. Point that
        makes this system different from others, the fact it's free to use, modify and share.
        Which makes it a good alternative to the many expensive management systems.
        Moreover, The independent nature of this system,
        has influenced the development towards more independent IT solutions, that won't require you
        to be more dependant on specific operating system or hardware, instead finding new solutions that fits all.</p>
      </div>
      <div class="col-md-5 push-md-2 col-xs-12 my-3 align-self-center">
        <h2 class="text-white bg-inverse my-3 text-center shb version pt-2 pb-2">Version </h2>
        <p class="lead">
          The last release has brought many improvements and performance enhancements.
          To highlight few of them: Reducing the latency that you've might encountered when
          using releases prior to <small>0.6 beta</small>, due to over caching page content
          without a set limit. The issue has been remedied in the current release and the
          performance enhancement is great, probably <small>62%</small> latency reduction.
          On the side of features, additional options were added to the <small>CSV Export</small> page,
          to allow administrators to choose a given delimiter and hide or show file headers.
          A major enhancement that might not reflect directly to the user experience is migrating
          the backend code-base from <small>Python 2</small> to <small>Python 3</small> And that
          will ensure more stability and reduction of depreciation bugs.
        </p>
      </div>
    </div>
  </div>
</div>
