<div class="section py-5" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="pb-2 pt-2 text-white bg-inverse shb">Major Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="align-self-center text-left col-lg-4 col-md-6">
        <div class="row my-5">
          <div class="col-10">
            <h4   >Web-based platform</h4>
            <p   >It gives the ability to multiple users and devices to interact with
              system at the same time, without the need for Internet access.
              It has the ability to run on any local network .</p>
          </div>
          <div class="col-2"><i class="d-block fa fa-3x fa-globe"></i></div>
        </div>
        <div class="row my-5">
          <div class="col-10">
            <h4   >Customization</h4>
            <p   >Gives the user the ability to customize every interface ,
            granting a unique and special experience for every user .</p>
          </div>
          <div class="col-2"><i class="d-block fa  fa-3x fa-wrench"></i></div>
        </div>
        <div class="row my-5">
          <div class="col-10">
            <h4   >User management</h4>
            <p   >Offers a user-based platform, so multiple users have the ability
              to register, log-in and monitor their own assigned by Admin tasks .</p>
          </div>
          <div class="col-2"><i class="d-block fa  fa-3x fa-users"></i></div>
        </div>
      </div>
      <div class="my-3 col-lg-4 col-md-6 align-self-center">
        <img class="img-fluid d-block mx-auto" id="pimg" src="images/phone.png" alt="Phone features image"> 
      </div>
      <div class="align-self-center text-left col-lg-4 col-md-12">
        <div class="row my-5">
          <div class="col-3"><i class="d-block fa fa-print fa-3x"></i></div>
          <div class="col-9">
            <h4>POS Printers</h4>
            <p>Support for major POS USB printers on the market.
            By a simple click, you can assign any connected USB printer,
            Supports printing four languages English, Arabic, French, Italian and Spanish.
          </p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-3"><i class="d-block mx-auto fa  fa-3x fa-film"></i></div>
          <div class="col-9">
            <h4   >Multimedia</h4>
            <p   >Offers a multimedia platform, that any permitted user can upload videos, images
            or sound files to, so they can be incorporated in the customization process .</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-3"><i class="d-block fa fa-3x fa-bullhorn"></i></div>
          <div class="col-9">
            <h4>Verbal announcement</h4>
            <p>Supports text-to-speech clear and high-quality verbal
            announcement, in five different languages English, Arabic, French, Italian and Spanish
            and with different preferences and settings .</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a style="width: 100%;" href="images/user_guide.pdf" target="_blank" class="btn btn-outline-info btn-lg h4 ar1">
          <span class="fa fa-university fa-lg pt-1"></span> <br /> <br />
          Read the User Guide
        </a>
      </div>
    </div>
  </div>
</div>
