<div class="py-5 section bg-inverse pt-4 shb" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-md-left align-self-center my-5">
        <h1 class="display-4 text-center">Download FQM</h1>
        <div class="row mt-5 mb-3 text-center">
          <div class="col-xs-12 col-sm-6 mt-3 mb-1">
            <span class='fa fa-download fa-3x mb-2'></span>
            <h3 class='ar1'>Total downloads</h3>
            <h2 class='mb-4 downloadsCounter'>0</h2>
          </div>
          <div class="col-xs-12 col-sm-6 mt-3 mb-1">
            <span class='fa fa-star fa-3x mb-2'></span>
            <h3 class='ar1'>Github stars</h3>
            <h2 class='mb-4 starsCounter'>0</h2>
          </div>
        </div>
        <h4 class="text-center" style='margin-top: 3%;'>Free to download, use and share on the major operating systems ..</h4>
        <div class="col-md-12 text-center" style='margin-top: 5%;'>
          <div class="btn-group">
             <button id="github" onclick="lswitch();" type="button" class="btn btn-danger active h4 notranslate" disabled=" " >Github</button>
             <button id="sourceforge" onclick="lswitch();" type="button" class="btn btn-primary h4 notranslate">Sourceforge</button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-xs-12 col-md-6">
            <a id="winl" href="https://github.com/mrf345/FQM/releases/download/0.6.2/FQM_06_Windows.zip" style="cursor: pointer;"
            data-toggle="tooltip" title="Tested on Windows XP, 7, 8, 10 32-bit and 64-bit">
              <p class="dimit text-white text-center ar1 h3 notranslate"> <span class="center-block img-fluid fa fa-5x fa-windows pb-1"></span><br> Windows </p>
            </a>
          </div>
          <!-- <div class="col-xs-12 col-md-4">
            <a id="linl" href="https://github.org/download/free_queue_manager_0.4.1/FQM_041_Linux.zip" data-toggle="tooltip" style="cursor: pointer;"
             title="Tested on Ubuntu 14.04 . And can run on any later-on released linux distros">
              <p class="dimit text-white text-center ar1 h3 notranslate"> <span class="center-block img-fluid fa fa-5x fa-linux pb-1"></span><br> GNU/Linux </p>
            </a>
          </div> -->
          <div class="col-xs-12 col-md-6">
            <a id="macl" href="https://github.com/mrf345/FQM/archive/0.6.2.zip" style="cursor: pointer;"
            data-toggle="tooltip" title="Extract all and run ./installer.sh in terminal, Tested on MacOS 10.8.4,">
              <p class="dimit text-white text-center h3 ar1 notranslate"> <span class="center-block img-fluid fa fa-5x fa-terminal pb-1"></span><br> Linux & MacOS </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="license" class="col-md-12 text-md-left align-self-center my-5 text-center">
        <center>
          <a id="licl" href="https://en.wikipedia.org/wiki/Mozilla_Public_License" target="_blank" data-toggle="tooltip" title="MPL license details">
            <img class="img-fluid display-4 dimit" src="images/license.png" alt="Mozilla MPL license">
          </a>
        </center>
        <h4 class="text-center"    style='margin-top: 5%;'>
          This work is a free, open-source project licensed under Mozilla Public License version 2.0 .<br />
          Which means anyone can modify and improve this project. Get involved :
        </h4>
          <div class="col-xs-12 text-center" style='margin-top: 8%;'>
              <a href="https://github.com/mrf345/FQM" target="_blank" data-toggle="tooltip" title="Source code on Github">
                <img class="img-responsive dimit" src="images/github.png" alt="Github logo">
              </a>
              <a href="https://sourceforge.net/p/free-queue-manager/code/ci/master/tree/" target="_blank" data-toggle="tooltip" title="Source code on SourceForge">
                <img class="img-responsive dimit" src="images/sourceforge.png" alt="Sourceforge logo">
              </a>
          </div>
      </div>
    </div>
  </div>
</div>
