<div class="py-5 bg-inverse" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p class="text-left lead ar1 notranslate">&copy; FQM - Since 2017 with contagious passion</p>
      </div>
      <div class="col-3 col-md-1 align-self-center">
        <a href="https://www.youtube.com/channel/UC9_zci_JGr2hXBxziYbMMBw/videos" data-toggle="tooltip" title="Youtube account for tutorials and demonistrations" target="_blank">
          <i class="fa fa-fw fa-youtube-square fa-3x text-white"></i></a>
      </div>
      <div class="col-3 col-md-1 align-self-center">
        <a href="https://github.com/mrf345/fqm" data-toggle="tooltip" title="Github source-code account" target="_blank">
          <i class="fa fa-fw fa-github-square fa-3x text-white"></i></a>
      </div>
      <div class="col-3 col-md-1 align-self-center">
        <a data-toggle="tooltip" title="Contact us for support and reporting"
          style="cursor: pointer;" onclick='contactUsStore()'
        >
          <i class="fa fa-fw fa-envelope fa-3x text-white"></i></a>
      </div>
    </div>
  </div>
</div>
