<div class="modal fade" id="demo">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <p class="modal-title text-center h3"> Video demonstration </p>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="close btn-warning pull-left" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
