<div class="section py-5 uniqueness" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-inverse shb">
        <h1 class="text-white pt-2 pb-2">Updates: 0.3 beta</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-3">
            <a style="width: 100%;" href="javascript:unique.back()" class="btn btn-outline-info btn-md h5">
              <span class='fa fa-lg fa-arrow-left'></span>
            </a>
      </div>
      <div class="col-md-6 pt-3 pb-2">
          <a style="width: 100%;" href="javascript:unique.next()" class="btn btn-outline-info btn-md h5">
            <span class='fa fa-lg fa-arrow-right'></span>
          </a>
      </div>
    </div>
    <div class="row pt-2">
      <table class="table table-striped shb">
        <thead>
          <tr class="bg-inverse">
            <th class="text-center ar2" style="font-size: 150%">Update / Feature</th>
            <th class="text-center ar2" style="font-size: 150%">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h5">
            <td class="text-center">
              Implementing new display screen UI features
            </td>
            <td class="text-center"> Currently stable, tested on most recent Firefox and Chrome </td>
          </tr>
          <tr class="h5">
            <td class="text-center">
              Implementing new audio announcement repeating features
            </td>
            <td class="text-center">
              Stable and tested on major browsers and operating systems
            </td>
          </tr>
          <tr class="h5">
            <td class="text-center">
              Add Italian, Spanish and French support to text-to-speech audio announcement
            </td>
            <td class="text-center">
              Not sure of the quality of translation, but it works.
            </td>
          </tr>
          <tr class="h5">
            <td class="text-center">
              Add Italian, Spanish and French support to printed tickets
            </td>
            <td class="text-center">
              Implemented with English letters, hopefully native letters will be utilized in coming releases
            </td>
          </tr>
          <tr class="text-danger h5">
            <td class="text-center">
              Add multiple operators for offices
            </td>
            <td class="text-center">
              Usable, with a basic user interface, to be improved in the future
            </td>
          </tr>
          <tr class="h5">
              <td class="text-center">
                Unlimited multimedia files
              </td>
              <td class="text-center">
                allowing bigger, more multimedia files to be stored and used 
              </td>
          </tr>
          <tr class="h5 text-danger">
              <td class="text-center">
                Implementing better unsaved forms reminder
              </td>
              <td class="text-center">
                Stable and tested on Firefox and Chrome, more improvements in the coming release
              </td>
          </tr>
          <tr class="h5">
              <td class="text-center">
                Better auto-reloading for manage
              </td>
              <td class="text-center">
                Stable and more flexible implementation of auto-reloading without backend storage  
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>