<div class="section py-5 uniqueness updates" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-inverse shb">
        <h1 class="text-white version pt-2 pb-2">Updates: </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-3">
            <a style="width: 100%;" href="javascript:unique.back()" class="btn btn-outline-info btn-md h5">
              <span class='fa fa-lg fa-arrow-left'></span>
            </a>
      </div>
      <div class="col-md-6 pt-3 pb-2">
          <a style="width: 100%;" href="javascript:unique.next()" class="btn btn-outline-info btn-md h5">
            <span class='fa fa-lg fa-arrow-right'></span>
          </a>
      </div>
    </div>
    <div class="row pt-2">
      <table class="table table-striped shb">
        <thead>
          <tr class="bg-inverse">
            <th class="text-center ar2" style="font-size: 150%">Update / Feature</th>
            <th class="text-center ar2" style="font-size: 150%">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h5">
            <td class="text-center">
              Adding pull from all offices and tasks
            </td>
            <td class="text-center"> Newly implemented upon a redesign of the database structure, so still under testing. </td>
          </tr>
          <tr class="h5">
            <td class="text-center">
              Adding common tasks across offices, simply allowing more than one office to have the same task
            </td>
            <td class="text-center">
              As well it goes under the new database change of structure, so still under testing but so far functional.
            </td>
          </tr>
          <tr class="h5 text-danger">
              <td class="text-center">
                Adding option to disable the browser notifications, like new release and Firefox notifications
              </td>
              <td class="text-center">
                Works and stable across all browsers. 
              </td>
          </tr>
          <tr class="h5">
            <td class="text-center">
              Fixing repeating announcement insane delay bug
            </td>
            <td class="text-center">
              Works perfectly in its current state, cross browsers and platforms. 
            </td>
          </tr>
          <tr class="h5">
            <td class="text-center">
              Adding a side tool to diagnose and test printing on windows platform
            </td>
            <td class="text-center">
              Newly implemented but works perfectly so far, tested on Windows 10.
            </td>
          </tr>
          <tr class="text-danger h5">
            <td class="text-center">
              Fixing the insane delay caused by the repeated caching of minifed page content
            </td>
            <td class="text-center">
              Works perfectly, improved the response duration to 2.1 seconds in the worst cases after server caching is done.
            </td>
          </tr>
          <tr class="h5">
              <td class="text-center">
                Adding option to hide office prefix from the display screen
              </td>
              <td class="text-center">
                Newly implemented but works well enough so far.  
              </td>
          </tr>
          <tr class="h5">
            <td colspan="2" class="text-center">
              <a style="width: 100%;" href="https://github.com/mrf345/fqm/blob/master/todo_now.md" 
              target="_blank" class="btn btn-outline-info btn-lg"> 
                <span class="fa fa-search"></span> <br />
                Track next release development progress
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
