<div class="section py-5 uniqueness updates" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-inverse shb">
          <h1 class="text-white version pt-2 pb-2">Updates: </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pt-3">
              <a style="width: 100%;" href="javascript:unique.back()" class="btn btn-outline-info btn-md h5">
                <span class='fa fa-lg fa-arrow-left'></span>
              </a>
        </div>
        <div class="col-md-6 pt-3 pb-2">
            <a style="width: 100%;" href="javascript:unique.next()" class="btn btn-outline-info btn-md h5">
              <span class='fa fa-lg fa-arrow-right'></span>
            </a>
        </div>
      </div>
      <div class="row pt-2">
        <table class="table table-striped shb">
          <thead>
            <tr class="bg-inverse">
              <th class="text-center ar2" style="font-size: 150%">Update / Feature</th>
              <th class="text-center ar2" style="font-size: 150%">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="h5">
              <td class="text-center">
                Adding more options to <small>CSV</small> export like delimiters, show or hide headers
              </td>
              <td class="text-center"> Newly implemented, but stable and it has good test coverage. </td>
            </tr>
            <tr class="h5">
              <td class="text-center">
                Add displaying last ticket pulled in <small>Offices</small> and <small>Tasks</small>
              </td>
              <td class="text-center">
                Straight forward implementation, working as expected.
              </td>
            </tr>
            <tr class="h5">
              <td class="text-center">
                Add <small>Operator</small> user role limit to common <small>Tasks</small> access
              </td>
              <td class="text-center">
                Newly implemented, stable and has a decent test coverage.
              </td>
            </tr>
            <tr class="h5">
                <td class="text-center">
                  Adding a command-line interface <small>CLI</small> option for Linux and MacOS.
                </td>
                <td class="text-center">
                  Might require some enhancements and better documentation in the future.
                </td>
            </tr>
            <tr class="h5">
              <td class="text-center">
                Add errors log <small>errors.log</small> to help in reporting and reproducing encountered bugs
              </td>
              <td class="text-center">
                Works perfectly as expected cross-platform.
              </td>
            </tr>
            <tr class="h5">
              <td class="text-center">
                Add initial test coverage for <small>Administrate</small> and <small>Manage</small> endpoints
              </td>
              <td class="text-center">
                A work in progress, should reduce the number of bugs introduced in new implementations.
              </td>
            </tr>
            <tr class="h5">
              <td class="text-center">
                Migrate code-base from legacy <small>Python 2</small> to <small>Python 3</small>
              </td>
              <td class="text-center">
                Stable enough, fixed the major bugs introduced after the initial migration.
              </td>
            </tr>
            <tr class="text-danger h5">
              <td class="text-center">
                Fix <small>Multimedia</small> page and upload bugs
              </td>
              <td class="text-center">
                Works as expected in previous releases prior to <small>0.5 beta</small>.
              </td>
            </tr>
            <tr class="text-danger h5">
              <td class="text-center">
                Fix high <small>Memory</small> consumption, due to over caching page contents
              </td>
              <td class="text-center">
                Performance has improved greatly after setting a limit to the amount of caching allowed.
              </td>
            </tr>
            <tr class="text-danger h5">
              <td class="text-center">
                Fix <small>Multimedia</small> page and upload bugs
              </td>
              <td class="text-center">
                Works as expected in previous releases prior to <small>0.5 beta</small>.
              </td>
            </tr>
            <tr class="text-danger h5">
              <td class="text-center">
                Fix last ticket to pull getting stuck bug, due to out of sync database queries
              </td>
              <td class="text-center">
                Overall performance is stable and has reduced the latency greatly almost <small>62%</small> improvement.
              </td>
            </tr>
            <tr class="text-danger h5">
              <td class="text-center">
                Fix major frontend incompatibilities with <small>Internet Explorer 11</small>
              </td>
              <td class="text-center">
                Should be stable in most cases, one exception is the <small>Display Screen</small>
                , hopefully will be fixed in upcoming releases.
              </td>
            </tr>
            <tr class="text-danger h5">
              <td class="text-center">
                Fix frontend cross-browser incompatibilities and remove <small>Firefox</small> warning
              </td>
              <td class="text-center">
                Stable when tested in major modern supported browsers 
                <small>Chrome</small>, <small>Firefox</small>, <small>Edge</small> and <small>Opera</small>.
              </td>
            </tr>
            <tr class="h5">
              <td colspan="2" class="text-center">
                <a style="width: 100%;" href="https://github.com/mrf345/fqm/blob/master/todo_now.md" 
                target="_blank" class="btn btn-outline-info btn-lg"> 
                  <span class="fa fa-search"></span> <br />
                  Track next release development progress
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  